<!DOCTYPE html>
<html>

<head>
  <title>Beaver Wood Carvers</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="/" />
  <link rel="stylesheet" href="assets/css/products.css" />
</head>

<body>
  <div class="page-wrap">
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li>
          <a href="/"><span class="icon fa-home" title="Home"></span></a>
        </li>
        <% if (userId == undefined) { %>
        <li>
          <a href="/auth/login"><span class="icon fa-sign-in" title="Log In"></span></a>
        </li>
        <li>
          <a href="/auth/signup"><span class="icon fa-user-plus" title="Sign Up"></span></a>
        </li>
        <% } else {%>
        <li>
          <a href="/auth/logout"><span class="icon fa-sign-out" title="Log Out"></span></a>
        </li>
        <li>
          <a href="/customers/profile/<%=userId%>"><span class="icon fa-user" title="My Account"></span></a>
        </li>
        <%}%>
                      <li>
                        <%if (userId !==1) {%> <%} else { %>
        <a href="/products/new"><span class="icon fa-plus-square" title="Add New Product"></span></a>
        <% } %>
        </li>
      </ul>
    </nav>

    <!-- Main -->
    <section id="main">
      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h1>Beaver Wood Carvers New Order</h1>
          <p>
            Customize and order your product here
          </p>
        </div>
      </section>
        <div id="main">
          <div class="inner">
            <!-- Boxes -->
            <div class="thumbnails">
              <div class="box">
                <a href="/products/<%=product.id%>" class="image fit"><img src="<%=product.img%>" alt="" /></a>
                <div class="inner">
                  <h3><%=product.productName%></h3>
                  <p>
                    <%=product.productDescription%>
                  </p>
                      <form action="/orders" method="POST">
                        <!-- Customized:
                        <input type="checkbox" name="customized" /><br /> -->
                        Custom Message: <input type="text" placeholder="Enter customization instructions" name="customMessage" />
                        <input type='hidden' name='customerId' value="<%=userId%>">
                        <input type="hidden" name="productId" value="<%=product.id%>" />
                        </br>
                        <%if (userId != undefined) {%>

                  <input type="submit" name="" value="Submit Order" />
                        <% }%>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>


      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.poptrox.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
  </body>
</html>
