<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BWC Order Complete</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>Order Number: <%=order.id%></h1>
    <h1>Product Name: <%=product.productName%></h1>
    <img src="<%=product.img%>" />
    <h2>Product Description: <%=product.productDescription%></h2>
    <h3>Your customization: <%=order.customMessage%></h3>
    <h3>Order Status: <%=order.orderStatus%></h3>
  </body>
</html>
