<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BWC Edit Product</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Edit Product</h1>
    <form action="/product/<%=product.id%>?_method=PUT" method="POST">
      Name:
      <input type="text" name="productName" value="<%=product.productName%>" />
      Description
      <input
        type="text"
        name="productDescription"
        value="<%=product.productDescription%>"
      />
      Category
      <input
        type="text"
        name="productCategory"
        value="<%=product.productCategory%>"
      />
      Image: <input type="text" name="img" value="<%=product.img%>" />
      <input type="submit" value="Edit" />
    </form>
  </body>
</html>
