<!DOCTYPE html>
<html>
  <head>
    <title>Beaver Wood Carvers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <link rel="stylesheet" href="assets/css/products.css" />
    <link
      id="favicon"
      rel="shortcut icon"
      type="image/png"
      href="/images/BWC_Logo.jpg"
    />
  </head>

  <body>
    <div class="page-wrap">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li>
            <a href="/"><span class="icon fa-home" title="Home"></span></a>
          </li>
          <% if (userId == undefined) { %>
          <li>
            <a href="/auth/login"
              ><span class="icon fa-sign-in" title="Log In"></span
            ></a>
          </li>
          <li>
            <a href="/auth/signup"
              ><span class="icon fa-user-plus" title="Sign Up"></span
            ></a>
          </li>
          <% } else {%>
          <li>
            <a href="/auth/logout"
              ><span class="icon fa-sign-out" title="Log Out"></span
            ></a>
          </li>
          <li>
            <a href="/customers/profile/<%=userId%>"
              ><span class="icon fa-user" title="My Account"></span
            ></a>
          </li>
          <%}%>
          <li>
            <%if (userId !==1) {%> <%} else { %>
            <a href="/products/new"
              ><span class="icon fa-plus-square" title="Add New Product"></span
            ></a>
            <% } %>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <section id="main">
        <!-- Banner -->
        <section id="banner">
          <div class="inner">
            <h1>Beaver Wood Carvers Products</h1>
            <p>
              Select a product you like and customize to fit your needs!
            </p>
          </div>
        </section>
        <div id="main">
          <div class="inner">
            <!-- Boxes -->
            <div class="thumbnails">
              <% products.forEach((product, index) => { %>
              <div class="box">
                <a href="/products/<%=product.id%>" class="image fit"
                  ><img src="<%=product.img%>" alt=""
                /></a>
                <div class="inner">
                  <h3><%=product.productName%></h3>
                  <p>
                    <%=product.productDescription%>
                  </p>
                  <a
                    href="/products/<%=product.id%>"
                    class="button fit"
                    data-poptrox="youtube,800x400"
                    >Details</a
                  >
                  <%if (userId !==1) {%> <%} else { %>
                  <form action="/products/edit/<%=product.id%>">
                    <input type="submit" value="Edit" />
                  </form>
                  <form
                    action="/products/<%=product.id%>?_method=DELETE"
                    method="POST"
                  >
                    <input type="submit" value="Delete" />
                  </form>
                  <% } %>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
