<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beaver Wood Carvers Product</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1><%=product.productName%></h1>
    <img src="<%=product.img%>" />
    <h2><%=product.productDescription%></h2>
    <h3><%=product.productCategory%></h3>
    <form method="get" action="/orders/new/<%=product.id;%>">
      <input type="submit" value="Order" />
    </br>
    <a href="/products">Back to Products</a>
    </form>
  </body>
</html>
