<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Profile Page</title>
  </head>

  <body>
    <h1>Welcome to <%= customer.name %>'s Profile Page</h1>

    <form
      action="/customers/profile/<%=customer.id%>?_method=PUT"
      method="POST"
    >
      Name: <input type="text" name="name" value="<%=customer.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=customer.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=customer.password%>" /><br />
      <br />
      Address:
      <input type="text" name="address" value="<%=customer.address%>" /><br />
      <br />
      City:
      <input type="text" name="city" value="<%=customer.city%>" /><br />
      <br />
      State:
      <input type="text" name="state" value="<%=customer.state%>" /><br />
      <br />
      Zip Code:
      <input type="text" name="zipCode" value="<%=customer.zipCode%>" /><br />
      <br />
      Phone:
      <input type="text" name="phone" value="<%=customer.phone%>" /><br />
      <br />
      Email:
      <input type="text" name="email" value="<%=customer.email%>" /><br />
      <br />
      <input type="submit" value="Edit Profile" />
    </form>
    <br />
    <br /><br />
    <br /><br />
    <a href="/orders">My Orders</a>
    <% if(customer.Order){%>
    <h3>Orders placed by you:</h3>
    <% for (let i = 0; i < customers.Orders.length; i++){ %>
    <li>
      <a href="/orders/<%=customer.Orders[i].id%>"
        ><%=customers.Orders[i].name%></a
      >
    </li>
    <br />
    <% } %> <% } else {%>
    <h3>No orders placed yet</h3>

    <br />
    <%}%> <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>
