<!DOCTYPE html>
<html>

<head>
  <title>Beaver Wood Carvers</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="/" />
  <link rel="stylesheet" href="assets/css/subpages.css" />
</head>

<body>
  <div class="page-wrap">
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li>            
        <a href="/" ><span class="icon fa-home" title="Home"></span></a>
            </li>
            <% if (userId == undefined) { %>
            <li>
                <a href="/auth/login"><span class="icon fa-sign-in" title="Log In"></span></a>
            </li>
            <li>
              <a href="/auth/signup"><span class="icon fa-user-plus" title="Sign Up"></span></a>
            </li>
            <% } else {%>
            <li>
                <a href="/auth/logout"><span class="icon fa-sign-out" title="Log Out"></span></a>
            </li>
             <li>
                <a href="/customers/profile/<%=userId%>"class="active"><span class="icon fa-user" title="My Account"></span></a>
            </li>
              <%}%>
            <li>
              <%if (userId !==1) {%> <%} else { %>
                <a href="/products/new"><span class="icon fa-plus-square" title="Add New Product"></span></a>
              <% } %>
              </li>
      </ul>
    </nav>

    <!-- Main -->
    <section id="main">
      <!-- Banner -->
      <section id="banner">
        <div class="inner">
    <h1>Welcome <%= customer.name %>!</h1>
          <p>
            Account information and order history
          </p>
        </div>
      </section>


    <form
      action="/customers/profile/<%=customer.id%>?_method=PUT"
      method="POST"
    >
      Name: <input type="text" name="name" value="<%=customer.name%>" />
      Username:
      <input type="text" name="username" value="<%=customer.username%>" />
      Address:
      <input type="text" name="address" value="<%=customer.address%>" />
      City:
      <input type="text" name="city" value="<%=customer.city%>" />
      State:
      <input type="text" name="state" value="<%=customer.state%>" />
      Zip Code:
      <input type="text" name="zipCode" value="<%=customer.zipCode%>" />
      Phone:
      <input type="text" name="phone" value="<%=customer.phone%>" />
      Email:
      <input type="text" name="email" value="<%=customer.email%>" />
    </form>
        <h2>My Orders</h2>
    <% if(customer.Products){%> <% for (let i = 0; i < customer.Products.length;
    i++){ %>
    <li>
      <a href="/orders/<%=customer.Products[i].id%>">
        <%=customer.Products[i].productName%></a

      <br />
      <%=customer.Products[i].productDescription%>
    </li>
    <br />
    <% } %> <% } else {%>
    <h3>No orders placed yet</h3>

  
    <% } %>

    
    <form action="/">
    <input type="submit" value="Return to Home Page" />
    </form>
    <form action="/products/">
    <input type="submit" value="Return to Products Page" />
    </form>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.poptrox.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
  </body>
</html>
